body {
  background-color: #18191A;
}

.scroll-navbar{
  position: sticky;
    top: 54px;
    background:#232323;
    width:100%;
    z-index: 1;
    margin-bottom: 50px;
    border-top: 1px solid #9d9d9d;
}

        .scroll-nav button{
          padding:10px 20px;
          display:block;
          color:#9d9d9d;
          text-size-adjust: 100%;
          text-decoration: none;
          border: none !important;
        }

         .scroll-nav li button.active {
              color:#F38A8A !important;
              border: 0;
              border-bottom: 3px solid #F38A8A !important;
              background-color: transparent !important;
           } 

           .scroll-nav li button:hover {
              background: transparent !important;
              color: #F38A8A;
           }

           .nav-tabs {
              border-bottom: 1px solid #232323 !important;
           }

           

           a.navbar-brand span {
            font-family: 'Bebas Neue', cursive;
            color: #fff;
           }

  .include-snippets section{
    min-height: 80vh;
    padding-bottom: 30px;
    scroll-margin-top: 3.5em; /*Adjust according to desired spacing*/
  }  

  .collapse .nav-link {
    color: #fff;
  }

  .nav-item a {
    color: #fff;
  }

  .dropdown-menu a {
    color: #0d0d0d;
  }


  /* Dropdown css resetting */
  .dropdown-toggle:after { content: none !important }

  @media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
      margin-top: 7px;
      left: -90px;
  }
  }
  
  .dropdown-menu::before, .dropdown-menu::before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 19px;
    border: 11px solid transparent;
    border-bottom-color: #fff;
  }

  .dropdown-menu::after {
    right: 20px;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
  }

  .sidebar {
    min-height: 100%;
  }

  .post-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
  }

  .post-title-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 6px;
  }


  .badge {
    color: #000;
  }

  h1, h2, h3, h4, h5 {
    color: #fff;
  }

  .my-card {
    background-color: #242526;
    color: #fff;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .my-card:hover {
    background-color: #262729;
    cursor: pointer;
  }

  .icon-to-the-right span {
    font-size: 28px;
  }

  .btn-color {
    color: #fff;
  }