body {
  background-color: #18191A;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

h5.modal-title {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

label {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

span {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

li a {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

li {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

a {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}


div {
  font-family: 'Raleway', sans-serif;
}

.scroll-navbar{
    background:#242526;
    width:100%;
    z-index: 999;
    margin-top: 58px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .scroll-navbar{
    position: relative !important;
    top: 30px !important;
    z-index: 1 !important;
  }

  .scroll-nav button{
    padding: 8px !important;
    display:block;
    color:#9d9d9d;
    text-size-adjust: 100%;
    text-decoration: none;
    border: none !important;
  }

  .info-section{
    display: none !important;
  }

}

.navbar2, .navbar1 {
  border-bottom: 1px solid rgb(82, 71, 71);
}


        .scroll-nav button{
          padding:10px 20px;
          display:block;
          color:#e4e2e2;
          text-size-adjust: 100%;
          text-decoration: none;
          border: none !important;
        }

         .scroll-nav li button.active {
              color:#F38A8A !important;
              border: 0;
              border-bottom: 3px solid #F38A8A !important;
              background-color: transparent !important;
           }

           .scroll-nav li button:hover {
              background: transparent !important;
              color: #F38A8A;
           }

           .nav-tabs {
              border-bottom: 1px solid #232323 !important;
           }



           a.navbar-brand span {
            font-family: 'Bebas Neue', cursive;
            color: #fff;
           }

           .nav-brand-mobile {
             font-family: 'Bebas Neue', cursive;
           }

           /* .include-snippets {
               margin-top: 90px;
           } */
  .include-snippets section{
    min-height: 80vh;
    padding-bottom: 30px;
    scroll-margin-top: 3.5em; /*Adjust according to desired spacing*/
  }

  .collapse .nav-link {
    color: #dadada;
  }

  .collapse .nav-link:hover {
    color: #fff;
  }

  .nav-item a {
    color: #fff;
  }

  .dropdown-menu a {
    color: #0d0d0d;
  }


  /* Dropdown css resetting */
  .dropdown-toggle:after { content: none !important }

  @media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .dropdown-menu {
      margin-top: 7px;
      left: -105px;
  }
  }

  .dropdown-menu::before, .dropdown-menu::before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 19px;
    border: 11px solid transparent;
    border-bottom-color: #464545;
  }

  .dropdown-menu::after {
    right: 20px;
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
  }

  .sidebar {
    min-height: 100%;
  }

  .post-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
  }

  .post-title-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 6px;
  }


  .badge {
    color: #000;
  }

  h1, h2, h3, h4, h5 {
    color: #fff;
  }

  .my-card {
    background-color: #242526;
    color: #fff;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .my-card:hover {
    background-color: #262729;
  }

  .icon-to-the-right span {
    font-size: 28px;
  }

  .btn-color {
    color: #fff;
  }

  .link-div {
    cursor: pointer;
  }

  /* Live STreaming */
  .lds-loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 50px;
  }
  .lds-loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 10px;
    background: #fff;
    animation: lds-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-loader {
    0% {
      top: 8px;
      height: 30px;
    }
    50%, 100% {
      top: 24px;
      height: 15px;
    }
  }
  a {
    text-decoration: none;
  }

  /* End Live streaming loader */

  /* Search ANimation */
  .navbar-right-search {
    max-width: 250px;
  }

  .searchbar {
    position: relative;
    min-width: 30px;
    width: 0%;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s
}

.searchbar-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: #242526;
    width: 100%;
    margin: 0;
    padding: 6px 10px 8px 15px;
    font-size: 14px;
    color: #fff
}

.searchbar input[type=search]:focus{
  background: #3a3b3c !important;
  border-radius: 20px;
}

.searchbar-input::-webkit-input-placeholder {
    color: #fff;
}

.searchbar-input::-moz-placeholder {
    color: #fff;
}

.searchbar-input::-moz-placeholder {
    color: #fff;
}

.searchbar-input::-ms-input-placeholder {
    color: #fff;
}

.searchbar-icon,
.searchbar-submit {
    display: block;
    position: absolute;
    top: 0;
    font-size: 16px;
    right: 0;
    padding-top: 7px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 10px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

.searchbar-open{
  width:100%;
}




/* Start Mobile Search */

.searchbar-2 {
  position: relative;
  min-width: 30px;
  width: 0%;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s
}

.searchbar-input-2 {
  top: 0;
  right: 0;
  border: 0;
  outline: 0;
  background: #242526;
  width: 100%;
  margin: 0;
  padding: 6px 10px 8px 15px;
  font-size: 14px;
  color: #fff
}

.searchbar-2 input[type=search]:focus{
  background: #3a3b3c !important;
  border-radius: 20px;
}

.searchbar-input-2::-webkit-input-placeholder {
  color: #fff;
}

.searchbar-input-2::-moz-placeholder {
  color: #fff
}

.searchbar-input-2::-moz-placeholder {
  color: #fff;
}

.searchbar-input-2::-ms-input-placeholder {
  color: #fff;
}

.searchbar-icon-2,
.searchbar-submit-2 {
  display: block;
  position: absolute;
  top: 0;
  font-size: 16px;
  right: 0;
  padding-top: 7px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 10px;
  outline: 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.searchbar-open-2{
width:100%;
}
/* End Mobile Search */

  /* End Search Animation */

  @media only screen and (min-width: 770px) {
    .navbar2 {
      display: none !important;
    }
  }

  @media only screen and (max-width: 770px) {
    .navbar1 {
      display: none !important;
    }
  }

/* Modal used as sidebar */
  @media (min-width: 576px) {
    .modal-dialog-2 {
      max-width: 100% !important;
      margin: auto !important;
  }
  }

  .modal-content-2 {
    height: 100vh !important;
    background: #242526 !important;
  }

  button.btn-close {
    color: #fff !important;
    opacity: 1;
}

ul.sidebar-list-mobile {
  margin: 0;
  padding: 0;
}

ul.sidebar-list-mobile li {
  padding: 7px 0;
}

ul.sidebar-list-mobile li a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

ul.sidebar-list-mobile li span {
  margin-right: 12px;
}

.sign-up-in-form input {
  background-color: #242526;
  color: rgb(207, 206, 206) !important;
  padding-left: 35px;
}

.sign-up-in-form input[type=text]:focus{
  background: #232323 !important;
  }

  .sign-up-in-form input[type=email]:focus{
    background: #232323 !important;
    }

    .sign-up-in-form input[type=password]:focus{
      background: #232323 !important;
      }


  .sign-up-in-form input::-webkit-input-placeholder {
    color: rgb(165, 161, 161);
  }

  .sign-up-in-form input::-moz-placeholder {
    color: rgb(165, 161, 161);
  }

  .sign-up-in-form input::-moz-placeholder {
    color: rgb(165, 161, 161);
  }

  .sign-up-in-form input::-ms-input-placeholder {
    color: rgb(165, 161, 161);
  }

  .sign-up-in-form input[type='checkbox']{
    width: 14px !important;
    height: 18px !important;
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 1000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    transition: background-color 1000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    transition: background-color 1000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

footer {
  background-color: #242526;
  color: rgb(202, 198, 198);
  padding: 20px 0;
  text-align: center;
}

.play-button i {
  font-size: 40px;
  color: #fff;
}

/* Upload style */
.btn-upload {
  background-color: transparent;
  color: rgb(216, 204, 204);
  border-radius: 6px !important;
}

.btn-upload span {
  margin-right: 5px;
}

.btn-upload:hover {
  background-color: #3A3B3C !important;
  color: rgb(216, 204, 204) !important;
  border-radius: 6px !important;
}

.btn-sidebar {
  color: #2D88FF;
  border-radius: 100px;
  border: 1px solid #294a75;
  font-size: 12px;
  font-weight: 500;
}

.btn-sidebar:hover {
  color: #2D88FF;
  background-color: #3A3B3C;
  border-radius: 100px;
  border: 1px solid #294a75;
}

.modal .btn {
  color: #2D88FF;
  border-radius: 100px;
  border: 1px solid #294a75;
  font-size: 12px;
  font-weight: 500;
}

.modal .btn:hover {
  color: #2D88FF;
  background-color: #3A3B3C;
  border-radius: 100px;
  border: 1px solid #294a75;
}

.modal .modal-footer {
  border-top: 1px solid rgb(112, 109, 109);
}

.modal .modal-header {
  border-bottom: 1px solid rgb(112, 109, 109);
}

footer li a.nav-link {
  color: rgb(211, 205, 205) !important;
  font-size: small;
}

#staticBackdropPost .modal-content,
#staticBackdropMedia .modal-content,
#staticBackdropDevotional .modal-content,
#staticBackdropQoutes .modal-content {
  background-color: #3A3B3C;
  color: rgb(221, 216, 216);
}

#staticBackdropPost input,
#staticBackdropMedia input,
#staticBackdropDevotional input,
#staticBackdropQoutes input {
  background-color: #242526;
  color: #fff !important;
  border: 1px solid rgb(112, 109, 109);
}

#staticBackdropPost textarea,
#staticBackdropMedia textarea,
#staticBackdropDevotional textarea,
#staticBackdropQoutes textarea {
  background-color: #242526;
  color: #fff !important;
  border: 1px solid rgb(112, 109, 109);
}

#staticBackdropPost select,
#staticBackdropMedia select,
#staticBackdropDevotional select,
#staticBackdropQoutes select {
  background-color: #242526;
  color: #fff !important;
  border: 1px solid rgb(112, 109, 109);
}

#staticBackdropPost .form-group,
#staticBackdropMedia .form-group,
#staticBackdropDevotional .form-group,
#staticBackdropQoutes .form-group {
  padding-bottom: 12px;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
  background-color: #242526;
  color: #fff !important;
}

.ck.ck-editor__main>.ck-editor__editable:focus {
  background-color: #242526 !important;
  color: #fff !important;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  background-color: #242526;
  color: #dadada;
  border: 1px solid#464545;
}

.navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item {
  color: #dadada;
}

.navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: #3A3B3C;
}

.dropdown-menu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.card-title {
  color: rgb(233, 230, 230);
  font-size: 14px;
}

.scroller {
  width: 300px;
  height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin:0 auto;
}
.containerr {
  position: relative; /*important for the .position() method */
  height: 100px;
  width: 770px;
}
.containerr div {
  height: 90px;
  width: 60px;
  float: left;
  margin: 5px;
  background: #39f;
}

.slider .item {
    cursor: pointer;
}

.slider .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    padding-right: 0 !important;
}

.slider .item .card .card-body {
    background-color: #242526 !important;
}

.slider .item .card {
    border: 1px solid #242526;
    margin-bottom: 20px;
}

.btn-devotion {
    background-color: #3A3B3C;
    color: #dadada;
    border: 0;
}

.btn-devotion:hover {
    background-color: #4E4F50;
    color: #dadada;
    border: 0;
}

.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-prev, .owl-next {
    position: absolute;
    bottom: 50%;
    z-index: 999;
    background: #3e4042b9 !important;
}

.owl-prev:hover, .owl-next:hover {
    background: #525355 !important;
}

.owl-prev span, .owl-next span {
    font-size: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-weight: 800;
}

.owl-theme .owl-nav [class*=owl-] {
    border-radius: 18px !important;
}

.owl-prev {
    left: 20px;
}

.owl-next {
    right: 20px;
}

.item .card-body a {
    color: #dadada;
}
